body {
    font-family: Poppins, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    max-width: 600px;
    margin: 0 auto 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c62828;
}
.expandable {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.expand-btn {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}
.expanded {
    transform: rotate(180deg);
}
.recipe-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*navbar estilo*/
.navbar {
    color: #fff;
    background-color: #89202e;
}

.navbar-brand {
    font-family: poppins;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    padding-left: 2%;
}

.navbar-brand:hover{
    color: #fff;
}

.nav-link {
    font-family: poppins;
    color: #fff;
    transition: background-color 0.3s;
}

.nav-link:hover {
    color: #fff;
    background-color: #962231d3;
}

.navbar-toggler {
    background-color: #962232;
    border-color: #b5cbdf;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28150, 150, 150, 0.8%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

ol {
    padding-left: 20px;
}

li {
    padding-left: 5px;
}